awscli~=1.25.7
black~=22.3.0
certifi~=2022.12.7
cfn-lint~=0.61.0
check-manifest~=0.48
flake8~=4.0.1
isort~=5.10.1
mypy~=0.961
myst-parser~=0.18.0
pip-tools~=6.6.2
pydot~=1.4.2
pyroma~=4.0
pytest~=7.1.2
pytest-cov~=3.0.0
pytest-ordering~=0.6
twine~=4.0.1
types-PyYAML~=6.0.8
types-setuptools~=57.4.17
wheel~=0.37.1
sphinx-autoapi~=1.8.0
sphinx-rtd-theme~=1.0.0
sphinx~=4.3.0