awscli~=1.31.13
black~=24.3.0
certifi~=2023.7.22
check-manifest~=0.48
flake8~=7.0.0
isort~=5.10.1
mypy~=0.961
myst-parser~=0.18.0
pip-tools~=6.14.0
pydot~=1.4.2
pyroma~=4.0
pytest~=7.2.0
pytest-cov~=4.0.0
pytest-mock~=3.10.0
pytest-ordering~=0.6
twine~=4.0.1
types-PyYAML~=6.0.8
types-setuptools~=57.4.17
wheel~=0.38.1
sphinx-autoapi~=1.8.0
sphinx-rtd-theme~=1.0.0
sphinx~=4.3.0
moto[s3,sts,iam,codebuild,secretsmanager,ssm]~=4.0.9
requests~=2.31.0
werkzeug~=3.0.3
urllib3~=1.26.18