awscli
black
cfn-lint
check-manifest
flake8
isort
mypy
myst-parser
pip-tools
pydot
pyroma
pytest
pytest-cov
pytest-ordering
twine
types-PyYAML
types-setuptools
wheel
sphinx-autoapi~=1.8.0
sphinx-rtd-theme~=1.0.0
sphinx~=4.3.0