sphinx-autoapi==3.4.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinx-click==6.0.0
myst_parser==4.0.0
docutils~=0.16
PyYAML==6.0.2
urllib3~=1.26.19
wheel==0.44.0
typing-extensions>=4.11
certifi~=2024.8.30
jinja2>=3.1.5
