sphinx-autoapi==3.2.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinx-click==6.0.0
myst_parser==3.0.1
docutils~=0.16
PyYAML==6.0.1
urllib3~=1.26.19
wheel==0.43.0
typing-extensions==4.12.2
certifi~=2024.7.4
