name: Snyk

on:
  workflow_dispatch:

  schedule:
    - cron: "0 9 * * 1"  # runs each Monday at 9:00 UTC

permissions:
  contents: read
  security-events: write

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install uv
        run: pip install uv
      - name: Install Dependencies (uv)
        run: uv pip install -e .
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python3.10@master
        continue-on-error: true #
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          target-file: pyproject.toml
          args: --severity-threshold=medium --sarif-file-output=snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
